<h1> TO DO </h1>

<h2> <%= @task.title %></h2>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<p> <%= @task.details %></p>

<%= link_to "Update", edit_task_path%>

<%= link_to "back", tasks_path%>





